<!DOCTYPE html>
<html>
<head>
    <title>Fish Classification</title>
    <!-- Add Bootstrap CSS link -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Predict Fish Species</h1>
    <form id="fishForm">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="weight" class="form-label">Weight:</label>
                <input class="form-control" id="weight" name="weight">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="length1" class="form-label">Length 1:</label>
                <input class="form-control" id="length1" name="length1">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="length2" class="form-label">Length 2:</label>
                <input class="form-control" id="length2" name="length2">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="length3" class="form-label">Length 3:</label>
                <input class="form-control" id="length3" name="length3">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="height" class="form-label">Height:</label>
                <input class="form-control" id="height" name="height">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3">
                <label for="width" class="form-label">Width:</label>
                <input class="form-control" id="width" name="width">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 mb-3">
                <button type="submit" class="btn btn-primary">Predict</button>
            </div>
        </div>
    </form>

    <!-- Display the result if available -->
    <div id="resultContainer"></div>

</div>

<!-- Add Bootstrap JS and jQuery scripts -->
<script src="static/js/jquery-3.7.0.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle form submission using AJAX
        $('#fishForm').submit(function (e) {
            e.preventDefault();
            // Get form data
            const formData = $(this).serialize();

            // Send form data to the server
            $.ajax({
                type: 'POST',
                url: '/',
                data: formData,
                success: function (result) {
                    // Display the result on the page
                    $('#resultContainer').html('<h3>Result: ' + result[0] + '</h3>');
                },
                error: function () {
                    // Handle errors if any
                    $('#resultContainer').html('<h3>Error occurred while processing the data.</h3>');
                }
            });
        });
    });
</script>
</body>
</html>